.head{
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 20px;
}
.display{
    margin-right: 30px;
    margin-left: 30px;
    button{
        width: 80px;
        
    }

}