
.top{
    text-align: center;
    margin-top: 20px;
    font-weight: bolder;
}
.display{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    padding-bottom: 10px;
    background: beige;
    span{
        font-size: medium;
        font-weight: bold;
    }
    Button{
        position: relative;
        margin-left: 200px;

    }
}