<div class="top">
    <h2>Details</h2>
</div>
<div class="display">
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
        <input type="text" class="form-control" [(ngModel)]="name" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">ID</span>
        <input type="text" class="form-control" [(ngModel)]="id" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Departmentt</span>
        <input type="text" class="form-control" [(ngModel)]="dept" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
        <input type="text" class="form-control" [(ngModel)]="email" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
        <input type="text" class="form-control" [(ngModel)]="pass" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
      </div>
      <br>
      <a href="#" routerLink="/emplogin"><button type="button" class="btn btn-primary">Main Login</button></a>
</div>